html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: #f68b29;
font-family: "athelas", serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#issue {
  background-color: #78c143;
  padding: 50px;
  width: -webkit-fill-available;
}

.main-content {
  padding: 15px;
}

.text-block {
  max-width: 900px;
}

h1,h2,h3 {
  font-family: "synthemesc", sans-serif;
  text-transform: uppercase;
}

.calendar {
  width: 1200px;
  max-width: 100%;
  padding-bottom: 50px;
}

#intro{
    background-color: #98c594;
    padding: 100px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#services {
  background-color: lightcoral;
      padding: 100px 50px;
z-index: 10;
position: relative;
}

.service {
  width: 500px;
  padding: 100px 0;
  object-fit: contain;
  cursor: pointer;
}

.service:nth-of-type(2) { 
  padding-bottom: 50px;
}

.service:nth-of-type(5) { 
  padding-bottom: 25px;
}

#river {
  width: 350px;
  object-fit: contain;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

#intro p {
  max-width: 400px;
  text-align: justify;
  padding: 20px 0;
}

.service-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

#intro p:first-of-type {
  margin-left: -850px;
}

#intro p:nth-of-type(2) {
  margin-left: 750px;
}

#intro p:nth-of-type(3) {
  margin-left: -750px;
}

.main {
  height: 2000px;
}

#petal-container {
 margin: auto;
  padding-left: 50px;
  z-index: 10000;
  text-align: center;
  position: fixed;
  bottom: 150px;
}

.flower-center {
  height: 60px;
  bottom: 15px;
  margin: auto;
  text-align: center;
  position: fixed;
  left: 42px;
  z-index: 0;
}

.petal {
  height: 100px;
  object-fit: contain;
  position: fixed;
  transform-origin: 50% 100%;
}

.block{
  visibility: hidden;
}

#service-blocks {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}

.block {
  width: 125px;
  object-fit: contain;
}

 @media (max-width: 600px) {
  #issue {
    padding: 15px;
  }
 }